</div>
<script src="js/script.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script>
  var socket = io();
</script>
</body>
  <footer>
      Copyright 2022 HerDevStories
  </footer>
</html>
