<%- include('header'); -%>
    <div class="jumbotron">
       
    <a href="/newRoom">Start a meeting</a>
       
        or
        
        <form action="/" method="post"> 
        <input type="text" name="room" placeholder="enter meeting link">

        <button type="submit" class="btn btn-light">Join</button>
    </form>
    <!-- <div id="video-grid"></div> -->
    
    </div>
    <%- include('footer'); -%>