<%- include('header'); -%>

  <div class="main jumbotron row mx-auto px-4 ">
    <!-- <div class="row px-4 py-5  text-center"> -->

      
      <div class="container col-lg-6 mx-auto px-5 pt-1 ">
        <h1 class="display-5 fw-bold pt-3 ">Secure Video Conferencing for Everyone</h1>
        <p class="lead mb-4">Connect, collaborate, and celebrate from anywhere with this video conferencing app</p>
        <div class=" d-grid gap-2 d-lg-flex">
          <!-- <div class="col-4"> -->
            <a href="/newRoom" class="btn btn-primary btn-lg">New Meeting</a>
          <!-- </div>
          <div class="col-8 "> -->

            <form action="/" method="post">
              <div class="input-group py-2">
                <input type="text" name="room" id="room" class="form-control" onkeyup="manage(this)"
                  placeholder="Enter a Meeting Link" aria-label="Recipient's username"
                  aria-describedby="button-addon2" />
                <button class="btn btn-outline-secondary" type="submit" id="button" disabled>Join</button>
              </div>
            </form>
          <!-- </div> -->
        </div>
      </div>
      <div class="col-lg-6 mx-auto" >
      <img src="/img/vchat.jpg" alt="" width="100%" >
    <!-- </div> -->
      

    </div>
    </div>
    
  </div>

  <%- include('footer'); -%>
    </body>

    <script>
      function manage(room) {
        var bt = document.getElementById('button');
        if (room.value != '') {
          bt.disabled = false;
        }
        else {
          bt.disabled = true;
        }
      }

    </script>

    </html>