<%- include('header'); -%>
  <div class="main container">

    <div class=" px-4 py-5 my-5 text-center">
      <h1 class="display-5 fw-bold">You left the meeting</h1>
      <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Thank you for using this product</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
          <a href="/<%= roomId %>" class="btn btn-outline-primary  btn-lg px-4 gap-3">rejoin</a>
          <a href="/" class="btn btn-primary btn-lg px-4">Return to homescreen</a>
        </div>
      </div>
    </div>
  </div>
  <%- include('footer'); -%>
    </body>

    </html>